
    <form class="formulario" method="POST">

        <h1>Citas</h1>
        <div class="contenedor">

        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" name="nombreuno" placeholder="Primer Nombre" required="">
        </div>

        <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
            <input type="text" name="apellidouno" placeholder="Primer Apellido" required="">
        </div>

        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input type="text" name="correo" placeholder="Correo Electronico" required="">
        </div>


        <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input type="mensaje" name="mensaje1" placeholder="Mensaje" required="">
        </div>

        <input type="submit" name="registrar" value="Enviar" class="button">
        

        
